body {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
}

.left-card,
.right-card {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100%;
}

.left-card {
  background-color: #f3f4f6;
  border-right: 1px solid #e5e7eb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4a35f2;
  border-radius: 15px;
}

.result-circle {
  width: 190px;
  height: 190px;
  background-color: #3e2dcc;
  border-radius: 50%;
  margin: 20px auto;
}

.result h2 {
  color: white;
  opacity: 0.5;
}

.result-circle h1 {
  color: white;
  font-size: 4em;
  margin-bottom: 0;
}

.result-circle p {
  color: white;
  opacity: 0.5;
  margin-top: 0;
}

.remarks h1 {
  color: white;
}

.remarks p {
  color: white;
  opacity: 0.5;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary h2 {
  opacity: 0.6;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.faded {
  opacity: 0.5;
}

.item-2 {
  background-color: #fffbdf;
}

.item-3 {
  background-color: #eaf8f6;
}

.item-4 {
  background-color: #dbd8fe;
}

.item-1 #text {
  color: #f472b6;
}

.item-2 #text {
  color: #fff17a;
}

.item-3 #text {
  color: #06b6d4;
}

.item-4 #text {
  color: #6958f4;
}

.item-4 #text {
  color: #5947f2;
}

.continue-button button {
  padding: 15px 127px;
  background-color: #2f3a58;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 25px;
}

.continue-button button:hover {
  background-color: #1e2e4f;
}
